In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('canonicalized_features_021118.csv', index_col=0)
df.head()

,0.01.01,0.01.04,0.01.03,0.01.05,0.01.02,1.01.02,1.01.01,1.01.12,1.01.05,1.01.14,...,6.08.02,6.09.00,6.09.01,6.09.03,6.10.00,6.10.03,6.10.01,6.10.02,ids,TUA
1,1,1,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,1,372: 3 // 372: 21 // 372: 27 // 372: 28 // 372...
2,1,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,2,372: 25
3,1,1,0,0,0,1,1,1,0,0,...,0,1,0,0,1,0,0,0,3,373: 25 // 373: 27 // 373: 28 // 373: 29 // 37...
4,1,0,1,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,4,373: 31
5,1,0,1,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,5,373: 38

In [26]:
subtopics_dict = {'0.01.01': "Info about a protester-initiated event including activities, setting, time and/or attendees",
'0.01.02': "Arrests or Injuries at the event",
'0.01.03': "Police activities other than arrests",
'0.01.04': "Community/bystander response",
'0.01.05': "Permit information"}

In [35]:
protester_initated = {'1.01': 'What is the primary activity of the event described by the bolded text?',
'1.01.01': "March/Parade",
'1.01.02': "Rally/Demonstration",
'1.01.03': "Strike",
'1.01.04': "Blocking a street, sidewalk, building, transportation, etc.",
'1.01.05': "Establishing a Camp (reference to first set-up of tents or the original date of set-up) (Note: text indicates when a camp started)",
'1.01.06': "Moving an existing camp to a new location",
'1.01.07': "Disrupting an on-going event planned by others (not Occupy protesters)",
'1.01.08': "Divestment action (moving $$ from banks to credit unions)",
'1.01.09': "Voluntary disbandment of a camp",
'1.01.10': "Pre-planned violence against people",
'1.01.11': "Pre-planned property destruction",
'1.01.12': "Building occupation",
'1.01.13': "Re-establishing a Camp (that had previously been evicted)",
'1.01.14': "Other"
}

In [39]:
reduced_df = df.iloc[:, :10]
reduced_df_dict = dict(subtopics_dict, **protester_initated)

In [43]:
reduced_df = reduced_df.rename(columns=reduced_df_dict)
reduced_df

,"Info about a protester-initiated event including activities, setting, time and/or attendees",Community/bystander response,Police activities other than arrests,Permit information,Arrests or Injuries at the event,Rally/Demonstration,March/Parade,Building occupation,Establishing a Camp (reference to first set-up of tents or the original date of set-up) (Note: text indicates when a camp started),Other
1,1,1,0,0,0,1,0,0,0,0
2,1,0,0,0,0,1,0,0,0,0
3,1,1,0,0,0,1,1,1,0,0
4,1,0,1,0,0,1,0,0,0,0
5,1,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
172,1,0,0,0,0,1,0,0,0,0
173,1,1,1,0,0,0,1,0,0,0
174,1,0,1,0,1,1,0,0,0,0
175,0,0,0,0,1,0,0,0,0,0
176,1,0,0,0,0,1,0,0,0,0